---
import { TITLE, SITE_DESCRIPTION } from "@/consts";
import { Head, Footer, Navbar } from "@/components/organisms";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <Head title={TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="flex flex-col bg-ctp-base min-h-screen">
    <Navbar />
    <main class="flex flex-col items-center flex-grow">
      <h1 class="text-4xl w-9/12 text-ctp-text">💻 Software Engineer</h1>
      <img
        class="object-cover aspect-square w-9/12 md:max-w-96 flex self-center m-4 rounded-md"
        src="/clayton-1.jpg"
        alt="Headshot of Clayton Cook"
      />
      <p class="w-9/12 text-ctp-text">
        &emsp;As a senior of <a href="https://www.svsu.edu/" target="_blank"
          >Saginaw Valley State University</a
        > with a strong academic record in Computer Science, I have consistently
        demonstrated my ability to excel in both theoretical and applied aspects
        of technology. My coursework spans critical subjects such as computer programming,
        data structures, algorithms, computer networks, and database systems. I maintained
        a cumulative GPA of <strong>3.55</strong> and made the Dean's List multiple
        times while maintaining a job as a contractor. My educational background
        is complemented by skills in frontend web development, specifically React
        and NextJS. I am eager to bring my strong software engineering skills, commitment
        to quality, and a proactive approach to problem-solving to a dynamic team,
        aiming to contribute to innovative and challenging projects.
      </p>
    </main>
    <Footer />
  </body>
</html>
